body {
    background-color: white;
    }

    h1 {
    color: black;
    text-align: center;
    }

    p {
    font-family: timesnewroman;
    font-size: 20px;
    }
	
	#buttonsignal {  
	margin: 0;  
	padding: 0;  
	list-style: none; 
	}
	#container {  
	margin: 100px auto;  
	width: 760px; 
	}
	